#!/bin/bash

GIT_PATH=/usr/bin/git
USR_ROOT={{ ansible_env.HOME }}

function update_repo {
    local repo_path=$1
    cd $repo_path && $GIT_PATH pull origin master
    exit 0
}

function main {
    update_repo $USR_ROOT/.dotfiles
    exit 0
}

main
exit 0
