#!/bin/bash

GIT_PATH=/usr/bin/git
USR_ROOT={{ ansible_env.HOME }}

function update_repo {
    local repo_path=$1
    cd $repo_path && $GIT_PATH pull origin master
    exit 0
}

function check_online {
    netcat -z -w 5 8.8.8.8 53 && echo 1 || echo 0
}

function main {
    update_repo $USR_ROOT/.dotfiles
    update_repo $USR_ROOT/.local/scripts
    update_repo $USR_ROOT/.local/pybin
    exit 0
}

IS_ONLINE=check_online
MAX_CHECKS=10
CHECKS=0

while [ $IS_ONLINE -eq 0 ]; do
    sleep 10;
    IS_ONLINE=check_online
    CHECKS=$[ $CHECKS + 1 ]
    [ $CHECKS -gt $MAX_CHECKS ] && break;
done

[ $IS_ONLINE -eq 0 ] && exit 1;

main
exit 0
